body {background-color: transparent; font-family: 'Montserrat', sans-serif;}
div {padding: 10px; box-sizing: border-box;}
.left, .right { width: 50%; height: 100%; text-align: center; padding-top: 40px;}
.left {background-color: #ffffff; float: left;}
.right {background-color: #E6E6E6; float: right;}

h1 {color: #999999; margin-bottom: 100px;}
.hands {font-size: 196px; margin-bottom: 60px;}
.label {font-size: 24px; margin-bottom: 60px;}
p.score {font-size: 24px;}


.container {
	overflow: auto;
	padding: 0;
	margin: 0;
	height:100vh;
}

.winnerColor{
	color = green;
}

.loserColor{
	color = red;
}
#message, #prompt, #icon {position: absolute;}
#message {top: 45%; font-size: 60px; left: 50%; margin-left: -5.8%;}
#prompt	{top: 75%; font-size: 24px; left: 50%; margin-left: -65px; cursor: pointer;}
#icon	{top: 80%; font-size: 24px; left: 50%; margin-left: -10px; cursor: pointer;}
