body{
    color: white;
    text-align: center;
    background: grey;
}
i {
  font-size: 60px
  margin: 0 auto;
}
.Gamestatus p {
  margin: 0 auto;
  color:green;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 40px;
}
.playagainbutton p {
  margin: 0 auto;
  color:black;
  position: absolute;
  left: 0;
  top: 60%;
  width: 100%;
  text-align: center;
  font-size: 25px;
}
